<% include ../partials/header %>

    <h2>Climbs</h2>
      <h5><a href="/climbs/new">Add new climb</a></h5>
    <table>
      <thead>
        <tr>
          <th>Best Climb</th>
          <th>Location</th>
          <th>Date</th>
          <th>Notes</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% climbs.forEach(function(c) { %>
          <tr>
            <td><%= c.rating %></td>
            <td><%= c.location %></td>
            <td><%= c.date %></td>
            <td><%= c.stats %></td>
            <td><a href="/climbs/<%= c._id %>">Details</a></td>

          </tr>
          <% }) %>
      </tbody>
    </table>    

<%include ../partials/footer %>