<% include ../partials/header %>

      <h1>Climb Details</h1>
      <form action="/climbs/<%= climb._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete Climb</button>
    </form>

    <table>
      <thead>
        <tr>
          <th>Best Climb</th>
          <th>Location</th>
          <th>Date</th>
          <th>Notes</th>
          <th></th>
        </tr>

      </thead>
      
      <tbody>
      <form action ="/climbs/update/<%= climb._id %>?_method=POST" method="POST">
        <tr>
          <td><%= climb.rating%></td>
          <td><%= climb.location %></td>
          <td><%= climb.date %></td>
          <td><input type="text" name ="stats" value="<%= climb.stats %>"></td>
          <td> <input type=Submit /></td>

        </tr>
      </form>
      </tbody>
    </table>
      
<%include ../partials/footer %>