<% include ../partials/header %>

      <h1>Climb Details</h1>
      <form action="/climbs/<%= climb._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete Climb</button>
    </form>

    <table>
      <thead>
        <tr>
          <th>Best CLimb</th>
          <th>Location</th>
          <th>Date</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= climb.rating%></td>
          <td><%= climb.location %></td>
          <td><%= climb.date %></td>
          <td><%= climb.stats %></td>
        </tr>
      </tbody>
    </table>
      
<%include ../partials/footer %>